.project {
    padding: 80px;
    background-color: #e3e3e3;
}

.project__title > hr {
    background-color:#8fc9d9;
    height: 4px;
    border: none;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    margin-top: -10px;
}

.project__container {
    padding: 20px;
}

hr {
    background-color: #404040;
    height: 2px;
    margin-top: 10px;
}

.project__container__info {
    padding: 0 15px 0 15px;
}

.project__container__thumbnail {
    padding: 10px;
    width: 100%;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 425px){
    .project {
        padding: 30px;
    }
}